body {
  display: inline;

  width: auto;
  height: auto;

  /* background-color: red; */

  justify-content: center;
  align-items: center;

  margin: none;
}

.welcome_header {
  display: flex;

  width: 98vw;
  height: 10vh;

  /* background-color: blue; */

  outline-style: solid;
  outline-color: gold;

  margin-left: 1vw;

  justify-content: center;
  align-items: center;

  font-size: 1.8em;
}

.dispaly_header {
  display: flex;

  width: 98vw;
  height: 10vh;

  /* background-color: blueviolet; */

  outline-style: solid;
  outline-color: gold;

  margin-left: 1vw;
  margin-top: 2vw;

  justify-content: center;
  align-items: center;

  font-size: 1.8em;
}

.img_box {
  display: flex;

  height: 60vh;
  width: 100vw;

  /* background-color: aqua; */

  justify-content: center;
  align-items: center;
}

.img1_box {
  display: block;

  width: 28vw;
  height: 60vh;

  /* background-color: blue; */
}

.img1 {
  display: flex;

  height: 45vh;
  margin-top: 1vh;
  margin-left: 3.5vw;

  visibility: hidden;
}

.hide_img1 {
  display: flex;

  width: 19vw;
  height: 5vh;

  margin-top: 2vh;
  margin-left: 4.5vw;

  justify-content: center;
  align-items: center;

  font-size: 1.5em;

  color: white;
  background-color: lightblue;

  display: flex;
  visibility: hidden;
}

.img2_box {
  display: block;

  width: 28vw;
  height: 60vh;

  /* background-color: purple; */

  margin-left: 5vw;
  margin-right: 5vw;
}

.img2 {
  display: flex;

  height: 45vh;
  margin-top: 1vh;
  margin-left: 3.5vw;

  visibility: hidden;
}

.hide_img2 {
  display: flex;

  width: 19vw;
  height: 5vh;

  margin-top: 2vh;
  margin-left: 4.5vw;

  justify-content: center;
  align-items: center;

  font-size: 1.5em;

  color: white;
  background-color: lightblue;

  display: flex;
  visibility: hidden;
}

.img3_box {
  display: block;

  width: 28vw;
  height: 60vh;

  /* background-color: blue; */
}

.img3 {
  display: flex;

  height: 45vh;
  margin-top: 1vh;
  margin-left: 3.5vw;

  visibility: hidden;
}

.hide_img3 {
  display: flex;

  width: 19vw;
  height: 5vh;

  margin-top: 2vh;
  margin-left: 4.5vw;

  justify-content: center;
  align-items: center;

  font-size: 1.5em;

  color: white;
  background-color: lightblue;

  display: flex;
  visibility: hidden;
}

.btn_box {
  display: flex;

  width: 100vw;
  height: 10vh;

  /* background-color: chartreuse; */

  justify-content: center;
  align-items: center;
}

.btn1 {
  display: flex;

  width: 15vw;
  height: 8vh;

  justify-content: center;
  align-items: center;

  font-size: 2em;

  border: none;
  outline-style: solid;
  outline-color: gold;

  background-color: white;
}

.btn2 {
  display: flex;

  width: 15vw;
  height: 8vh;

  margin-left: 18vw;
  margin-right: 18vw;

  justify-content: center;
  align-items: center;

  font-size: 2em;

  border: none;
  outline-style: solid;
  outline-color: gold;

  background-color: white;
}

.btn3 {
  display: flex;

  width: 15vw;
  height: 8vh;

  justify-content: center;
  align-items: center;

  font-size: 2em;

  border: none;
  outline-style: solid;
  outline-color: gold;

  background-color: white;
}
